.Home{
    width: 475px;
    height:auto;
    overflow: hidden; 
}
.home-header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.home-header img{
    width:161px;
    height: 70px;
    transform: scale(0.8);
}
.home-body{
    width: 100%;
    height: 600px;    
}
.home-body-title{
    width: 100%;
    height:40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #8B8B8B;
}
.home-deraza{
    width: 100%;
    height: 290px;
}
.homes-deraza{
    width: 100%;
    height: 290px;
}
.homes-deraza img{
    width: 200px;
    height: 200px;
}
.home-deraza img{
    width: 290px;
    height: 290px;
}
#mexaniz{
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   color: #8B8B8B;
}
.home-body-title-2{
    width: 100%;
    height: 45px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #009C22;
}
.home-body-form{
    width: 100%;
    height: 180px;
}
.home-body-form-box{
    width: 100%;
    height:40px;
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0px;
}
.home-body-form-box-1{
    width: 40%;
    height: 0px;
}
.home-body-form-box-1 img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
}
.home-body-form-box-1 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #00304E;
    margin-left: 10px;
}
.home-body-form-box-2{
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}
.home-body-form-box-2 input{
    width: 70%;
    height: 40px;
    font-family: 'Nokora';
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #005286;
}
.home-body-form-box-2 span{
    width: 30%;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Nokora';
    font-style: normal;
    font-weight: 700; 
    font-size: 24px; 
     color: #005286;
}
.homet-body-title-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    
    text-align: center;
    letter-spacing: 0.5px;
    
    color: #016096;
}

.homes-body-title-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #223263;
    opacity: 0.5;
}
.qalinligi{
    width: 80%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.active{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    background: #1EE23D;
    line-height: 27px;
    color: #ffffffff;
}
.noactive{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #BBBBBB;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #BBBBBB;
    border: 3px solid #BBBBBB;

}
.langua{
    width: 80px;
    height: 35px;
    display: grid;
    outline: 1px solid #cccccc;
    box-shadow: 0px 0px 5px #cccc;
    border: none;
    border-radius: 10px;
}
@media only screen and (max-width:475px) {
    .Home{
        width: 100%;
        height: 90vh;
    }
    .home-header{
        height: 10%;
        margin-top: 0px;
    }
    .home-header img{
        transform: scale(0.6);
        margin-left: -10px;
    }
    .home-deraza{
        height: 250px;
    }
    .home-body-title-2{
        height: px;
        font-size: 18px;
    }
    .home-deraza img{
        width: 250px;
        height: 250px;
    }
    .homes-deraza img{
        width: 200px;
        height: 200px;
    }
    .home-body{
        height: 83%;
    }
    .home-body-form{
        height: 180px;
    }
    .home-body-form-box{
        height:40px;
        margin: 8px 0px;
    }
     
    .home-footer{
        width: 100%;
        height: 7%;
        
    }
}
.home-deraza-image{
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home-deraza-image img{
    width: 250px;
    height: 120px;
    margin: 2px 0px;
}
@media only screen and (max-width:390px){
    .Home{
        height: 95vh;
    }
    .home-header{
        margin-top: 0px;
        height: 8%;
        align-items: flex-start;
    }
    .home-body-title{
        font-size: 18px;
    }
    .home-header img{
        margin-top: -10px;
        margin-left: -20px;
        transform: scale(0.5);
    }
    .home-body{
       height:  80%;
    }
    .home-footer{
        height: 10%;
    }
    .home-deraza{
       height: 220px;       
    }
    .home-body-title-2{
        font-size: 16px;
    }
    .home-deraza img{
       width: 220px;
       height: 220px;
    }
    .home-body-form{
        height: 180px;
    }
    .home-body-form-box {
        height: 40px;
    }    
    .home-body-form-box-2 input{
        height: 40px;
    }
}